@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}
html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 50px; 
}



body {
    color: #F2F2F2;
    background-color: #252526;
    font-size: 15px;
    overflow-x: hidden;
}
ul {
    list-style: none;
    text-decoration: none;    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* -----------------------
        Welcome  
-----------------------*/
.header_img {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../assets/images/mechano-dans-son-atelier.png);
    background-position: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero {
    margin: auto;
    width: 100%;
    max-height: 100%; 

}

.welcome {
    padding: 35px 0;
    width: 85%;
    margin: auto;
    max-width: 1200px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    text-align: center;
    gap: 40px;    
    z-index: 1;
    position: relative;
}

h1 {
    font-size: 40px;
}


.welcome h2 {    
    font-weight: 400;
    font-size: 1.2rem;
}

.welcome .btn-donate {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.welcome .btn-donate button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #D94350;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 2s;
}

.welcome .btn-donate button span {
    background: #D94350;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.6s;
}

.welcome .btn-donate button:hover span {
    width: 100%;
}

.welcome .btn-donate button:hover {
    border: none;
}


.banner-bottom-section .container,
.what-we-do .container {
    margin: 0 auto;
}

.banner-bottom-section {
    background-color: #009688;
    margin-top: 0;
    text-align: center;
    z-index: 0;
}

.banner-bottom-section .container h3 {
    color: #fff;
    padding: 60px 0 190px;
    font-size: 38px;
    margin: 0;
}

/* -----------------------
    Nos différents services  
-----------------------*/
@media (min-width: 390px) {
    .col-custom-6 {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1024px) {
    .col-lg-4 {
        width: 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

.service-card .card {
    border: none;
    border-radius: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.service-card .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.card-img-top{
    border-radius: 15px 15px 0 0;
    max-height: 150px;
    object-fit: cover;

}

.service-card .card-body {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.service-card .card-title {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-decoration-none {
    text-decoration: none;
}
/* -----------------------
    Nos voitures d'ocasion  
-----------------------*/

.used-cars-section h2{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;

}
.used-cars-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cars {
    width: 90%;
}
.car {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 79, 79, 0.400) ;
    margin-bottom: 20px;
}
.car img {
    border-radius: 10px;
}
.car p {
    font-size: 0.7rem;
    padding: 10px;
    max-width: 250px;
}

/* -----------------------
    Contactez-nous
----------------------- */
@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: pulsate 2.5s infinite;
}

.contact-section h2 {
    margin-right: 10px;
}

.contact-section i {
    margin-left: 10px;
}

/* -----------------------
    style de card
----------------------- */
.card-body {
    border-radius: 0 0 25px 25px;
    background-color: #555;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    background-color: transparent;
}

.d-block {
    border-radius: 10px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.3rem;
    height: 1rem;
    background-size: 100%, 100%;
    filter: invert(1);
    box-shadow: 0px 5px 5px rgba(221, 221, 221, 0.5);
    border-radius: 10%; 
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(0); 
    background: none;
    border: none;
    font-size: 2rem;
}

.card-text {
    color: #fff;
    font-size: 14px;
    flex-grow: 1;
}

.btn {
    width: 120px;
}

.btn-contact {
    width: 80%;
    max-width: 270px; 
}

@media (max-width: 180px) {
    .btn-contact {
        width: auto;
    }
}

.btn-light {
    background-color: #e0e0e0;
    color: #000;
    border: none;
    font-size: 14px;
    padding: 10px 0;
}

.btn-light:hover {
    background-color: #d0d0d0;
}

.custom-spacing-card {
    padding-left: 1px;
    padding-right: 1px;
}

/* -----------------------
        Card Fonts  
-----------------------*/

body {
    font-size: 16px;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 0.8rem;
}

/* Tablet font sizes */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }

    .card-title {
        font-size: 1.75rem;
    }

    .card-text {
        font-size: 1.125rem;
    }
}

/* Desktop font sizes */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1.25rem;
    }
}

/* -----------------------
        Forms  
-----------------------*/

.form-container {
    background-color: #555;
    padding: 20px;
    border-radius: 25px;
    color: #fff;
}
.btn-custom {
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
}
.form-container label {
    color: #fff;
}
.form-container input, .form-container textarea {
    background-color: #333;
    border: none;
    color: #fff;
}